<p>
  <a routerLink="/admin/products/new" class="btn btn-primary" >New product</a>
</p>
<p>
  <input #query
  (keyup)="filter(query.value)"
  type="text" class="form-control" placeholder="Search...">
</p>
<mat-sidenav-container fxFlex="0 1 auto">

  <mat-sidenav #sidenav position="start" mode="side" opened="false" class="width-30 p-6">
    SIDENAV CONTENT HERE
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matPaginator >

        <!-- Index column -->
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let i = index"> {{i+1}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Company Name Column -->
        <ng-container matColumnDef="companyName">
          <th mat-header-cell *matHeaderCellDef> Company Name </th>
          <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
        </ng-container>

        <!-- Storages Column -->
        <ng-container matColumnDef="storages">
          <th mat-header-cell *matHeaderCellDef> Storages </th>
          <td mat-cell *matCellDef="let element"> {{element.storage}} </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef> Color </th>
          <td mat-cell *matCellDef="let element"> {{element.color}} </td>
        </ng-container>

        <!-- Image URL Column -->
        <ng-container matColumnDef="imageUrl">
          <th mat-header-cell *matHeaderCellDef> Image URL </th>
          <td mat-cell *matCellDef="let element"> {{element.imageUrl}} </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <!-- Highlights Column -->
        <ng-container matColumnDef="highlights">
          <th mat-header-cell *matHeaderCellDef> Highlights </th>
          <td mat-cell *matCellDef="let element">
            <p [innerHTML]="getHighlights(element.highlights)"></p>
          </td>
        </ng-container>

        <!-- Promotions Column -->
        <ng-container matColumnDef="promotions">
          <th mat-header-cell *matHeaderCellDef> Promotions </th>
          <td mat-cell *matCellDef="let element">
            <p [innerHTML]="getHighlights(element.promotions)"></p>
          </td>
        </ng-container>

        <!-- Edit Column -->
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <a [routerLink]="['/admin/products/', element.key]">Edit</a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

