/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding-top: 100px;
}

.carousel-control-prev-icon {
  background-color: black;
  border-radius: 5px;
}
.carousel-control-next-icon {
  background-color: black;
  border-radius: 5px;
}

.carousel-caption{
  background-color: #0000007d;
  border-radius: 5px;
}
